[submodule "langs/tree-sitter-dockerfile"]
	path = langs/tree-sitter-dockerfile
	url = https://github.com/camdencheek/tree-sitter-dockerfile
[submodule "langs/tree-sitter-ruby"]
	path = langs/tree-sitter-ruby
	url = https://github.com/akshay-deepsource/tree-sitter-ruby
